html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 18px;
}
.App-logo img {
  height: 100%;
  width: auto;
}
.App-logo > span {
  font-weight: 600;
  font-size: 1.4rem;
  display: inline-block;
  margin-inline-start: 8px;
}

.App-header {
  background-color: #f8f9fa;
  height: 72px;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  color: #242423;
}
